{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="infinity-card p-4 mb-4">
            <h1 class="h2 mb-3">{{ title }}</h1>
            <p class="lead">Modern Symfony UX application with PostgreSQL 18 and UUIDv7 support.</p>
            <div class="row mt-4">
                <div class="col-md-6">
                    <a href="{{ path('organization_index') }}" class="btn infinity-btn-primary w-100 mb-2">
                        <i class="bi bi-building me-2"></i>Organizations
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('user_index') }}" class="btn infinity-btn-primary w-100 mb-2">
                        <i class="bi bi-people me-2"></i>Users
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}