{#
/**
 * Modal Cancel Button Template
 *
 * Renders a modal cancel/close button
 *
 * @param array config - Button configuration from ButtonConfig
 * @param string|null translation_key - Translation key (default: 'button.cancel')
 * @param string translation_domain - Translation domain (default: 'messages')
 * @param bool use_bootstrap_dismiss - Use Bootstrap modal dismiss instead of Stimulus controller
 */
#}
{% set buttonText = translation_key ?? config.default_translation_key %}

<button type="button"
        class="{{ config.class }}"
        {% if use_bootstrap_dismiss|default(false) %}
            data-bs-dismiss="modal"
        {% else %}
            data-action="{{ config.data_action }}"
        {% endif %}>
    {{ buttonText|trans({}, translation_domain) }}
</button>
