{% extends 'base.html.twig' %}

{% block title %}{{ 'action.create'|trans }} {{ 'talkmessage.singular'|trans({}, 'talkmessage') }}{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="luminai-card p-4">
                <div class="mb-4">
                    <h2>
                        <i class="bi bi-plus-circle me-2"></i>{{ 'action.create'|trans }} {{ 'talkmessage.singular'|trans({}, 'talkmessage') }}
                    </h2>
                </div>

                {% include 'talkmessage/generated/form_generated.html.twig' with {
                    'talkMessage': talkMessage,
                    'form': form
                } %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
