{% extends 'base.html.twig' %}

{% block title %}{{ 'action.edit'|trans }} {{ 'auditlog.singular'|trans({}, 'auditlog') }}{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="luminai-card p-4">
                <div class="mb-4">
                    <h2>
                        <i class="bi bi-pencil me-2"></i>{{ 'action.edit'|trans }} {{ 'auditlog.singular'|trans({}, 'auditlog') }}
                    </h2>
                </div>

                {% include 'auditlog/generated/form_generated.html.twig' with {
                    'auditLog': auditLog,
                    'form': form
                } %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
